@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  font-family: Montserrat;
}
/* colors: 
PINK: #AA2447
CORAL: #FF6F5E
CREAM: #F5FOE3
BLUE: #40BFC1 */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.hide {
  display: none;
}

.active {
  background-color: #40BFC1;
  color: white;
}

.flat img {
  max-height: 50vh;
}

/*
.flat {
  padding: 10%;
  display: flex;
  justify-content: space-around;
} */

/* Progress Bar */

#progressbar li {
  list-style-type: none;
  color: black;
  text-transform: uppercase;
  font-size: 9px;
  width: 20%;
  float: left;
  position: relative;
  letter-spacing: 1px;
}

.on {
  background-color: salmon;
}
