@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  font-family: Montserrat;

  margin: 0;
  padding: 0;
}
/* colors: 
PINK: #AA2447
CORAL: #FF6F5E
CREAM: #F5FOE3
BLUE: #40BFC1 */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
}

.hide {
  display: none;
}

.active {
  background-color: #aa2447;
  color: white;
}

/*
.flat {
  padding: 10%;
  display: flex;
  justify-content: space-around;
} */

/* Progress Bar */

#progressbar li {
  list-style-type: none;
  color: black;
  text-transform: uppercase;
  font-size: 9px;
  width: 20%;
  float: left;
  position: relative;
  letter-spacing: 1px;
}

.hide {
  visibility: hidden;
}

/* ***************************************** OVERWRITTEN BS RULES  ***************************************** */

.custom-btn {
  background-color: #ff6f5e;
  color: white;
  border: black;
}

.custom-btn:hover {
  background-color: #aa2447 !important;
  color: white;
  border: black;
}

.mr-auto a {
  color: white;
  margin: 5px;
}
@media screen and (max-width: 580px) {
  .home img {
    max-height: 50px;
  }
}
.home img {
  max-width: 15%;
}

/* ***************************************** ABOUT  ***************************************** */
.imgWrapper {
  position: relative;
  height: 80vh;
  width: 100vw;
}

.about-img {
  width: 100%;
  height: 98%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 2%;
}

.overlay {
  position: absolute;
  overflow: scroll;
  top: 25%;
  left: 10%;
  width: 80%;
  max-height: 60%;
  border-radius: 3px;
  color: white;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 40px;
  opacity: 70%;
}

/* ***************************************** FORMS  ***************************************** */

.form-bg {
  height: 100vh;
  background-color: #f5f0e3;
}

.features-button {
  margin: 0.5%;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

.progress-bar {
  color: black;
}

/* ***************************************** FINAL SUBMIT ***************************************** */

.final-img {
  max-height: 65vh;
  max-width: 100%;
  margin-bottom: -5px;
}

.title {
  height: 60vh;
  background-color: #f5f0e3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
  text-decoration: none;
}

.profile-btn {
  background-color: rgba(10, 10, 10, 0);
  color: black;
  padding: 4px;
  border: 1px solid grey;
  border-radius: 2em;
  margin: 2%;
  margin-top: 5%;
  width: 80%;
  height: 3em;
}

/*  ----------- HOME PAGE ------------- */
@media screen and (max-width: 580px) {
  .home img {
    max-height: 50px;
  }
}
.home img {
  max-width: 15%;
}
.title {
  height: 60vh;
  /* border: solid black 2px; */

  background-color: #f5f0e3;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 10%;
  text-decoration: none;
}
.title .notfat {
  font-size: 0.8em;
}
.title h1 {
  font-size: 3em;
}
.title a {
  color: #aa2447;
}
.home button {
  background-color: rgba(10, 10, 10, 0);
  /* width: 150px; */
  padding: 4px;
  border-radius: 2em;
  margin: 2%;
  margin-top: 5%;
  width: 80%;
  height: 3em;
}
.info-box {
  padding: 5%;
}

.section-3 {
  /* border: solid black 3px; */
  background-color: #ff6f5e;
  padding: 5%;
  color: white;
}
.col-12 button {
  width: 60%;
  height: 3em;
  margin-top: 0em;
  margin-bottom: 10%;
}

/*  --------- PROFILE ------------- */
@media screen and (max-width: 580px) {
  .flat img {
    /* width: 500px; */
    width: 100%;
  }
  .flat {
    padding: 5%;
  }
}
.profile-page h3 {
  text-align: left;
  padding: 3%;
}
.flat img {
  max-width: 50%;
}
.flat {
  /* background-color: rgba(255, 111, 94, .7); */
  height: 35vh;
  /* min-width: 40%;
  max-width: 90%; */
  padding: 1em;
  margin: 2%;
  /* border: solid rgba(255, 111, 94, 0.7) 0.5px; */
  border: solid #40bfc1 0.8px;
  /* box-shadow: -6px 8px 5px 0px rgba(23, 162, 184, .5); */
  border-radius: 2em;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flat p {
  text-align: left;
  line-height: 1em;
}
.all-the-flats {
  display: flex;
  justify-content: center;
}

/*  ---------------- messages for feedback after clicking 'i found a flat' */
.message {
  padding: 4%;
  color: #ff6f5e;
  font-weight: bold;
}

/* ***************************************** TRANSITION EFFECTS ***************************************** */

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
