@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  font-family: Montserrat;

  margin: 0;
  padding: 0;
}
/* colors: 
PINK: #AA2447
CORAL: #FF6F5E
CREAM: #F5FOE3
BLUE: #40BFC1 */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
}

.hide {
  display: none;
}

.active {
  background-color: #aa2447;
  color: white;
}

.flat img {
  max-height: 50vh;
}

/*
.flat {
  padding: 10%;
  display: flex;
  justify-content: space-around;
} */

/* Progress Bar */

#progressbar li {
  list-style-type: none;
  color: black;
  text-transform: uppercase;
  font-size: 9px;
  width: 20%;
  float: left;
  position: relative;
  letter-spacing: 1px;
}

.hide {
  visibility: hidden;
}

/* ***************************************** OVERWRITTEN BS RULES  ***************************************** */

.custom-btn {
  background-color: #ff6f5e;
  color: white;
  border: black;
}

.custom-btn:hover {
  background-color: #aa2447 !important;
  color: white;
  border: black;
}

.mr-auto a {
  color: white;
  margin: 5px;
}
@media screen and (max-width: 580px) {
  .home img {
    max-height: 50px;
  }
}
.home img {
  max-width: 15%;
}

/* ***************************************** ABOUT  ***************************************** */
.imgWrapper {
  position: relative;
  height: 80vh;
  width: 100vw;
}

.about-img {
  width: 100%;
  height: 98%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 2%;
}

.overlay {
  position: absolute;
  overflow: scroll;
  top: 25%;
  left: 10%;
  width: 80%;
  max-height: 60%;
  border-radius: 3px;
  color: white;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  opacity: 70%;
}

/* ***************************************** FORMS  ***************************************** */

.form-bg {
  height: 100vh;
  background-color: #f5f0e3;
}

/* .btn-container {
  display: flex;
  width: 20%;
} */

.features-button {
  margin: 0.5%;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

/* ***************************************** FINAL SUBMIT ***************************************** */

.final-img {
  max-width: 100%;
}

.title {
  height: 60vh;
  /* border: solid black 2px; */
  background-color: #f5f0e3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
  text-decoration: none;
}
.title .notfat {
  font-size: 0.8em;
}
.title h1 {
  font-size: 3em;
}
.title a {
  color: #aa2447;
}
.home button {
  background-color: rgba(10, 10, 10, 0);
  /* width: 150px; */
  padding: 4px;
  border-radius: 2em;
  margin: 2%;
  margin-top: 5%;
  width: 80%;
  height: 3em;
}
.info-box {
  padding: 5%;
}

.section-3 {
  /* border: solid black 3px; */
  background-color: #ff6f5e;
  padding: 5%;
  color: white;
}
.col-12 button {
  width: 60%;
  height: 3em;
  margin-top: 0em;
  margin-bottom: 10%;
}
